@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  /* --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed; */
  --color-primary: #0d6efd;
  --color-primary-dark: #0c64e7;
  --base-color-orange:#FF9017;
  --color-accent: #a855f7;
  --color-background: #f9fafb;
  --dark-color-background: #eff2f4;

--secondary-font-color: #8B96A5;

  --base-color-light: #505050;
  --base-color: #606060;
  --base-color-dark: #1c1c1c;
  --primary-gradient: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  --primary-light: #e5f1ff;

  --padding-inline-section: 20px;
  --margin-block-section: 30px;
  --section-border: 2px solid #dee2e7;
  --section-border-radius: 6px;
}

body {
  color: var(--base-color-dark);
  /* background: #E5E5E5; */
  background: var(--color-background);
}

button{
  cursor: pointer;
  border: none;
  background: none;
  width: 100px;
  height: 40px;
  border-radius: var(--section-border-radius);
}
.btn-basic {
  width: 119px;
  background: white;
  padding: 10px;
  color: var(--color-primary);
  border: var(--section-border);
}
.btn-basic:hover{
    color: white;
    background: var(--secondary-font-color);
    border: none;
}
.btn-primary{
  background: var(--primary-gradient);
  color: white;
}
.btn-primary:hover{
    background: var(--color-primary-dark);

}
.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
hr{
  border: none;
  background-color: var(--base-color);
 height: 1px; 
 width: 100%;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}
h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.title-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.2px;
}

.title-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
}
.title-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.title-h6{
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;

}
.title-h5{
font-weight: 600;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;

}
.text-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}
.text-small {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--secondary-font-color);

}
.text-normal {
  /* font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; */
}
.text-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--secondary-font-color);
}

.text-base {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  /* color: var(--base-color-light); */
}
p {
  /* color: var(--secondary-text-color); */
  line-height: 1.4rem;
}
a {
  text-decoration: none;
  color: var(--base-color-dark);
}
a:hover,
a:active {
  color: var(--color-primary);
}
ul {
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  background-image: url('../assets/icons/expand_more.svg');
    background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 1.5rem;
    padding: 10px;

  cursor: pointer;
border: var(--section-border);
border-radius: var(--section-border-radius);
 color: var(--base-color-dark);
    transition: all 0.3s ease;
}

select:hover,
select:active {
  border:2px solid var(--color-primary);

}


.input-basic{
font-weight: 400;
font-size: 16px;
line-height: 100%;
height: 40px; 
padding: 1rem;
border: var(--section-border);
border-radius: var(--section-border-radius);
transition: all 0.3s ease;
}

.input-basic:hover,
.input-basic:active {
  border-color: var(--color-primary);

}
.input-basic::placeholder{
  color: var(--base-color-dark);
}
.flex {
  display: flex;
  align-items: center;
}

    /* Basic Styles of Custom Dropdown Button */
    .dropdown button {
       padding: 5px 0;
    width: 150px;
    gap: 6px;
    justify-content: center;
    }
    
    .dropdown:hover button {
      color: var(--color-primary);
    }

    .dropdown ul {
      display: none;
      list-style: none;
      padding: 0;
      margin:4px 0 0 0;
      background: white;
    border: var(--section-border);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: absolute;
      z-index: 10;
    }

    .dropdown ul.active {
      display: block;
    }

    .dropdown ul li {
      padding: 6px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      justify-content: space-between;

    }

    .dropdown ul li:hover {
        background-color: var(--primary-light);
    }
.container {
  /* max-width: 1180px; */
  max-width: 1440px;
  padding-inline: var(--padding-inline-section);
  justify-content: space-between;
  margin-inline: auto;
  overflow: hidden;
  /* background: white; */
  border: var(--section-border);
    border-radius: var(--section-border-radius);
}